.logoContainer {
    display: flex;
    align-items: center;
    gap: 20px;
}

.profileImg {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 1px solid blue;
    object-fit: cover;
    cursor: pointer;
}

.header {
    width: 85%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    position: fixed;
    top: 50px;
    left: 150px;
}

.logo {
    width: 50px;
    height: 50px;
}

h2 {
    color: var(--color-brand-1);
}