.inputContainer {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.label {
  color: #0f2f64;
  font-size: 15px;
  font-weight: 500;
}

.modalInput {
  padding: 15px 20px;
  width: 650px;
  border-radius: 8px;
  background-color: white;
  border: 1px solid #8b98b8;
  color: black;
}